# host definition template
define host {
    use                             generic-host
    name                            default
    contact_groups                  admins
    check_command                   check_host_alive_icmp
    notification_interval           60
    register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL HOST, JUST A TEMPLATE!
}

# service definition template
define service {
    use                             generic-service
    name                            default
    contact_groups                  admins
    notification_interval           60
    register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL SERVICE, JUST A TEMPLATE!
}

# contact definition template
define contact {
    use                             generic-contact
    name                            default
    service_notifications_enabled   1
    host_notifications_enabled      1
    notificationways                ssmtp
    register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL HOST, JUST A TEMPLATE!
}

# ssmtp notificationway
define notificationway {
    notificationway_name            ssmtp
    service_notification_period     24x7
    host_notification_period        24x7
    service_notification_options    w,u,c,r,f
    host_notification_options       d,u,r,f,s
    service_notification_commands   notify-service-by-ssmtp
    host_notification_commands      notify-host-by-ssmtp
    min_business_impact             1
}

# slack notificationway
define notificationway {
    notificationway_name            slack
    service_notification_period     24x7
    host_notification_period        24x7
    service_notification_options    w,u,c,r,f
    host_notification_options       d,u,r,f,s
    service_notification_commands   notify-service-by-slack
    host_notification_commands      notify-host-by-slack
    min_business_impact             1
}
